body {
  font-family:Verdana;
}
nav{
  display: flex;
  background-color: rgb(182, 134, 255);
  padding: 1rem;
  justify-content: space-around;
}

nav a {
  color: rgb(92, 0, 0);
  padding: 0.5rem;
}

nav a.selected {
  border: solid 1px rgb(92, 0, 0);
}